.wrap__booking-history{
    width: 100%;
    .body_book-history-tickets{
        padding: 100px 50px;
        .content_booking-hitory-tickets{
            height: 400px;
            padding: 50px;
        }
    }
}