.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    z-index: 10;
    .trow__header--tr {
        width: 100%;
        height: 100%;
        padding: 10px 50px;
        transition: all 0.5s;
        box-shadow: inset #0000008f 0px 20px 20px 0px;
        @include styleDisFlexCenter;
        .box_name-logo {
            height: 100%;
            .border-logo {
                height: 100%;
                img {
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
        .box_menu-heading {
            width: 100%;
            height: 100%;
            display: flex;
            padding-left: 20px;
            .border_location-menu {
                height: 100%;
                margin-left: 30px;
                > a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    @include styleDisFlexCenter();
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    user-select: none;
                    transition: all 0.4s;
                    > svg {
                        margin-right: 8px;
                    }
                }
                > a:hover {
                    transform: translateY(-2px);
                }
                > a.active {
                    font-style: italic;
                    pointer-events: none;
                }
            }
            .line-hover {
                width: 100%;
                height: 2px;
                background-color: red;
                display: none;
                animation: an_line_hover 0.3s forwards;
                @keyframes an_line_hover {
                    from {
                        transform: scaleX(0);
                    }
                    to {
                        transform: scaleX(0.9);
                    }
                }
            }
            .border_location-menu:hover .line-hover {
                display: block;
            }
        }
        .box_navigation {
            height: 100%;
            @include styleDisFlexCenter();
            justify-content: right;
            .row-section--nav {
                @include styleDisFlexCenter;
                > div {
                    margin-left: 20px;
                }
                .btn_section {
                    height: 100%;
                    position: relative;
                    button {
                        background: none;
                        border: none;
                        cursor: pointer;
                        svg {
                            font-size: 33px;
                        }
                    }
                }

                .btn_section_notification {
                    height: 100%;
                    position: relative;
                    z-index: 3;
                    button {
                        border: none;
                        background: none;
                        cursor: pointer;
                    }
                    .box_drops-notification {
                        width: max-content;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        right: 0px;
                        margin-top: 12px;
                        background: $main-color-brg;
                        border-radius: 5px;
                        .body__drop {
                            width: 100%;
                            padding: 0px 0px 5px 0px;
                            .item_list--noti {
                                border-bottom: 1px solid #ffffff46;
                                padding: 10px 15px;
                                transition: all 0.4s;
                                a {
                                    @include styleDisFlexCenter;
                                    justify-content: left;
                                    color: $main-color-while;
                                    text-decoration: none;
                                    padding-right: 10px;
                                    img {
                                        height: 60px;
                                        border-radius: 10px;
                                        transition: all 0.4s;
                                    }
                                    .heading_noti-public {
                                        padding: 10px;
                                        padding-left: 15px;
                                        transition: all 0.4s;
                                        .title-heading {
                                            font-size: 20px;
                                            margin-bottom: 5px;

                                            font-weight: 600;
                                        }
                                        .font-exp_day {
                                            font-size: 14px;
                                        }
                                    }
                                }
                                &:hover {
                                    background-color: #000000;
                                    img {
                                        transform: scale(1.1);
                                    }
                                    .heading_noti-public {
                                        transform: translateX(4px);
                                    }
                                }
                            }
                        }
                    }
                }

                .btn_dropdown-account {
                    height: 100%;
                    position: relative;
                    .border-drop {
                        width: 46px;
                        height: 45px;
                        padding: 2px;
                        border: 1px solid #ffffff46;
                        border-radius: 100%;
                        cursor: pointer;
                        background: none;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                        }
                    }

                    .box_drops-account {
                        width: max-content;
                        position: absolute;
                        right: 0px;
                        margin-top: 8px;
                        .body__drop {
                            background: $main-color-brg;
                            flex-direction: column;
                            display: flex;
                            border-radius: 5px;
                            .item_select-drop {
                                margin: 5px 0px;
                                a {
                                    width: 100%;
                                    height: 100%;
                                    padding: 13px 20px;
                                    text-decoration: none;
                                    @include styleDisFlexCenter;
                                    justify-content: left;
                                    font-size: 18px;
                                    font-weight: bold;
                                    user-select: none;
                                    transition: all 0.4s;
                                    svg {
                                        transition: all 0.4s;
                                    }
                                    span {
                                        margin-left: 20px;
                                        margin-right: 40px;
                                        transition: all 0.4s;
                                    }
                                    &:hover {
                                        background-color: #000000b9;
                                        span {
                                            transform: translateX(7px);
                                        }
                                        svg {
                                            transform: scale(1.6);
                                        }
                                    }
                                }
                            }
                            .waring_hover {
                                border-top: 1px solid #ffffff46;
                            }
                            .waring_hover:hover {
                                a {
                                    background-color: #ff00009f;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bgr-opacity {
        background-color: #14141408;
    }
    .bgr-opacity-none {
        background-color: #090b13;
    }

    // box search
    .box_search {
        width: 100%;
        margin-top: 20px;
        position: fixed;
        left: 0px;
        top: 60px;
        .body_trans--search {
            width: 100%;
            @include styleDisFlexCenter;
            flex-direction: column;
            padding: 0px 200px;
            .border_input {
                width: 100%;
                background-color: $main-color-brg;
                position: relative;
                border-radius: 5px;
                .button_change--input {
                    width: 100%;
                    height: 100%;
                    @include styleDisFlexCenter;
                    justify-content: left;
                    .button__search--size {
                        width: 40px;
                        height: 100%;
                        position: absolute;
                        @include styleDisFlexCenter;
                        margin-left: 5px;
                        svg {
                            font-size: 28px;
                        }
                    }
                    .box__contain-in {
                        width: 100%;
                        height: 100%;
                        @include styleDisFlexCenter;
                        justify-content: right;
                        input {
                            width: 0%;
                            height: 100%;
                            padding: 10px 70px;
                            background: none;
                            border: none;
                            outline: none;
                            color: #ffffff;
                            font-size: 20px;
                            text-align: center;
                            border-top: 3px solid $main-color-while;
                            transition: width 0.3s;
                            border-radius: 5px;
                        }

                        .btn__reset-input {
                            width: 40px;
                            position: absolute;
                            margin-right: 5px;
                            .border__btn--reset {
                                width: 100%;
                                height: 100%;
                                @include styleDisFlexCenter;
                                cursor: pointer;

                                pointer-events: none;
                                opacity: 0.3;
                                svg {
                                    font-size: 30px;
                                }
                            }
                            .enable_btn-reset {
                                pointer-events: unset;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .activeBoxSearch {
        opacity: 1;
        visibility: visible;
    }
    .inactiveBoxSearch {
        opacity: 0;
        visibility: hidden;
        transform: scaleX(0);
        transition: 0.2s;
    }
}
.width_input {
    width: 100% !important;
}
.display-none {
    display: none;
}
.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transition: 0.4s;
}
.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);
    transition: 0.2s;
}

.top_show {
    width: 100%;
    height: 3px;
    overflow: hidden;
    .an_border-top {
        width: 100%;
        height: 100%;
        background-color: $main-color-while;
        border-radius: 5px 5px 0px 0px;
    }
    .an_border-top-tran-enlarge {
        animation: an_border_top_enlarge 0.3s forwards;
        @keyframes an_border_top_enlarge {
            0% {
                transform: scaleX(0);
            }
            20% {
                transform: translateX(100%);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    .an_border-top-tran-zoom_out {
        animation: an_border_top_zoom_out 0.3s forwards;
        @keyframes an_border_top_zoom_out {
            0% {
                transform: scaleX(1);
            }
            20% {
                transform: translateX(100%);
            }
            100% {
                transform: scale(0);
            }
        }
    }
}
