.ant-modal-mask {
    background: rgba(0, 0, 0, 0.596) !important;
}

.modal-1 {
    background-color: blue;
}
    .ant-modal {
        width: 100% !important;
        top: 0px;
        margin-top: 20px !important;
        padding: 10px;

        .ant-modal-content {
            background-color: $main-color;
            border-radius: 0px;
            border: 1px solid #424242;

            .ant-modal-header {
                background: none;

                .ant-modal-title {
                    color: $main-color-while-fff !important;
                    font-size: 20px;
                }
            }

            .ant-modal-close {
                width: 40px;
                height: 40px;
                background: #a7a1a198;
                ;
                border: 2px solid $main-color-while-fff;
                border-radius: 100%;

                .ant-modal-close-x {
                    font-size: 23px;
                }
            }
        }
    }


.modal-2 {
    background: red !important;
}