.ant-modal-mask {
    background: rgba(0, 0, 0, 0.596) !important;
}

.ant-modal {
    width: 100% !important;
    top: 0px;
    margin-top: 20px !important;
    padding: 10px;
}

.modal__preview--movies {

    .ant-modal-content {
        background-color: $main-color;
        border-radius: 0px;
        border: 1px solid #424242;

        .ant-modal-header {
            background: none;

            .ant-modal-title {
                color: $main-color-while-fff !important;
                font-size: 24px;
            }
        }

        .ant-modal-close {
            width: 40px;
            height: 40px;
            background: #a7a1a198;
            // border: 2px solid $main-color-while-fff;
            border-radius: 100%;

            .ant-modal-close-x {
                font-size: 23px;
            }
        }

        .ant-modal-body {
            padding: 0px 10px;
            .content__preview {
                padding-top: 15px;
                .body__information-single--film {
                    width: 100%;

                    .flex__nth-firts {
                        width: 100%;
                        display: flex;

                        .box_image_poster {
                            .image_preview_size {
                                width: 270px;
                                border: 1px solid #727272;
                            }
                        }

                        .line_information-film {
                            width: 100%;
                            padding: 0px 35px;

                            .size_title-film {
                                font-size: 40px;
                                font-weight: 600;
                                line-height: 25px;
                            }

                            .title_film-EL {
                                font-size: 17px;
                                color: #919191;
                                line-height: 60px;
                                display: flex;
                                align-items: center;

                                svg {
                                    margin: 0px 10px;

                                    path {
                                        color: #919191 !important;
                                    }
                                }
                            }
                            .leading_relaxed{
                                font-size: 15px;
                                padding-left:15px;
                                border-left: 2px solid;
                                text-align: justify;
                                color: #e4e4e4;
                                margin-bottom:20px ;
                            }
                            .state-information{
                                display: flex;
                                .item_state{
                                    padding-right: 10px;
                                    text-align: left;
                                    margin-right: 15px;
                                    .heading_state{
                                        font-size: 18px;
                                        font-weight: 600;
                                        color: #a7a7a7;
                                    }
                                    .result_state{
                                        color: $main-color-while-fff;
                                        font-size: 17px;
                                        font-weight: 500;
                                        display: flex;
                                        align-items: center;
                                        > svg{
                                            margin-right:5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

.ant-skeleton-content {
    .ant-skeleton-title {
        border-radius: 0px !important;

        &::after {
            animation-duration: 1.5s !important;
            background: linear-gradient(90deg, #00000057 25%, #38383840 37%, #0000004f 63%) !important;
        }
    }

    .ant-skeleton-paragraph {
        display: none !important;
    }
}

.line-skeleton-title {
    .ant-skeleton-content {
        .ant-skeleton-title {
            width: 40% !important;
            height: 35px !important;
        }
    }
}
