$main-color-while: #f9f9f9;
$main-color-while-fff:#ffffff;
$main-color-brg: #000000e3;
$main-color_box_shadow: #000000b0 0px 26px 30px -10px, #000000ba 0px 16px 10px -10px;
$main-color_box_shadow-hover: #000000cc 0px 40px 58px -16px, #000000b8 0px 30px 22px -10px;


@mixin styleDisFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
