.wrap__my-list {
    width: 100%;

    .body_my-list {
        padding: 100px 50px;

        .body_product-film {
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            justify-content: center;

            .item__box-film {
                max-width: 350px;
                margin: 20px;
            }
        }
    }
}

.body_slick--mylist {
    width: 100%;

    .heading-text {
        font-size: 30px;
        font-weight: 600;
        @include styleDisFlexCenter;
        justify-content: left;
        margin-bottom: 10px;
        color: $main-color-while-fff;

        svg {
            margin-right: 10px;
            font-size: 50px;
        }
    }

    .slick-slider {
        position: relative;
        padding: 5px 20px;
        display: flex;
        align-items: center;

        .slick-list {
            width: 100%;
            padding: 10px 10px 20px 10px;

            .slick-track {
                display: flex !important;

                .slick-slide {
                    padding: 10px;
                    margin: 0px 20px;
                    float: inherit;
                    margin-left: -5px;
                }
            }

        }

    }



    .slick-dots {
        width: 100%;
        position: absolute;
        top: -30px;
        display: flex !important;
        @include styleDisFlexCenter;

        li {
            width: 8px;
            height: 1px;
            display: block;
            background-color: #796c6c;
            margin: 0px 5px;
            transition: all 0.4s;

            button {
                display: none;
            }
        }

        .slick-active {
            width: 20px;
            background-color: red;
        }

    }

    .btn__arrow_prev {
        height: 70%;
        position: absolute;
        background: none;
        cursor: pointer;
        border: none;

        svg {
            font-size: 30px;
        }
    }

    .prev_prev {
        left: 0px;
    }

    .next_prev {
        right: 0px;
    }
}

.item__box-film {
    // width: 100%;
    max-width: 260px;
    @include styleDisFlexCenter;
    position: relative;
    // border-radius: 5px;
    border: 1px solid #332e2e;
    border-bottom: 2px solid ;
    box-shadow: #00000031 0px 0px 20px 2px, #000000a0 0px 10px 16px -10px;
    transition: all 0.4s;

    .borzing_content {
        width: 100%;

        .border_img--poster {
            width: 100%;
            overflow: hidden;
            // border-radius: 5px 5px 0px 0px;
            position: relative;

            img {
                width: 100%;
                transition: all 0.4s;
            }

            .box_production {
                width: 50px;
                height: 50px;
                position: absolute;
                z-index: 2;
                top: 0px;
                left: 0px;
                overflow: hidden;

                .duction_year {
                    width: 100px;
                    background-color: #b12e2e;
                    padding: 5px 10px;
                    transform: rotate(-40deg);
                    text-align: center;
                    margin-left: -30px;
                    margin-top: 5px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .btn_playPP {
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0px;
                padding: 20px;
                transition: all 0.4s;
                @include styleDisFlexCenter;

                .border__PP {
                    border-radius: 100%;
                    background-color: #bd1111;
                    @include styleDisFlexCenter;
                    transform: translateY(80px);
                    opacity: 0;
                    cursor: pointer;

                    svg {
                        font-size: 22px;
                        margin: 15px;
                    }

                    &:hover {
                        transform: translateY(-4px);
                    }
                }
            }
        }

        .box__content--info {
            padding: 10px 15px;
            display: flex;

            .flex__nth-left {
                .trow-head {
                    @include styleDisFlexCenter;
                    justify-content: left;
                    margin-bottom: 10px;

                    .title-film-st {
                        width: 200px;
                        font-size: 21px;
                        color: #ffffff;
                        display: -webkit-box;
                        font-weight: 600;
                        overflow: hidden;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                    }


                }

                .trow_body-box {
                    width: 100%;
                    padding-bottom: 10px;

                    .td_infomation-auth {
                        display: flex;

                        .time-film {
                            margin-right: 10px;
                            font-size: 15px;
                            color: #928a8a;
                            padding: 1px;
                        }

                        .limit-old {
                            border: 1px solid #686161;
                            border-bottom:2px solid ;
                            padding: 0px 5px;
                            font-size: 14px;
                            color: #928a8a;
                        }
                    }
                }
            }

            .flex__nth-right {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: right;

                .btn_show_modal {
                    border-radius: 100%;
                    @include styleDisFlexCenter;
                    cursor: pointer;

                    svg {
                        font-size: 32px;
                    }
                }
            }
        }
    }

    &:hover {
        transform: scale(1.03);
        border: 1px solid #b5b4b4; 
        border-bottom: 2px solid #b5b4b4 ;

        img {
            transform: scale(1.08);
        }

        .btn_playPP {
            .border__PP {
                transform: translateY(0px) !important;
                opacity: 1 !important;
            }

            ;
        }
    }
}

.heading_text {
    font-size: 35px;
    font-weight: 600;
    @include styleDisFlexCenter;
    justify-content: left;
    margin-bottom: 20px;
    position: sticky;
    top: 60px;

    svg {
        margin-right: 20px;
        font-size: 45px;
        transition: all 0.4s;
    }

    a {
        text-decoration: none;
        @include styleDisFlexCenter;

        &:hover {
            text-decoration: underline;

            svg {
                transform: translateX(-20px);
            }
        }
    }
}

.wrap__trending-box--film {
    .body__trending-film {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        justify-content: center;

        .item__box-film {
            // max-width: 350px;
            margin: 20px;
        }
    }

}

.animation_scale-lg {
    animation: an_body_scale 0.4s forwards;

    @keyframes an_body_scale {
        from {
            transform: scale(0.95);
        }

        to {
            transform: scale(1);
        }
    }
}